body{
    background-image: repeating-linear-gradient(
                            rgb(0,190,255),
                            rgb(1,180,255),
                            rgb(2,170,255),
                            rgb(3,160,255),
                            rgb(4, 150, 255),
                            rgb(5, 140, 255),
                            rgb(6, 130, 255),
                            rgb(7, 120, 255),
                            rgb(8, 110, 255),
                            rgb(9, 100, 255),
                            rgb(10, 90, 255),
                            rgb(11, 80, 255),
                            rgb(12, 70, 255),
                            rgb(13, 60, 255),
                            rgb(12, 70, 255),
                            rgb(11, 80, 255),
                            rgb(10, 90, 255),
                            rgb(9, 100, 255),
                            rgb(8, 110, 255),
                            rgb(7, 120, 255),
                            rgb(6, 130, 255),
                            rgb(5, 140, 255),
                            rgb(4, 150, 255),
                            rgb(3, 160, 255),
                            rgb(2, 170, 255),
                            rgb(1, 180, 255),
                            rgb(0, 190, 255));
}



#table-1{
    padding: 5px;
}

#logo{
    margin-left: 20px;
    width: 70px ;
    height:70px ;
}

.input-title{
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255,0.9) ;
}

hr{
    border-color:rgba(84, 84, 255,0.3) ;
}



#site-name-box ,#site-url-box{
    text-align: right;
    font-weight: bold;
    color: rgba(255,255,255,0.8) ;
    border: 2px solid rgba(255,255,255,0.4) ;
    border-radius: 5px ;
    background-color: rgba(0,0,0,0);
    width:195px;
}
#site-name-box:focus,#site-url-box:focus{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 4px ;
    color: rgba(100,100,255,1) ;
    outline-color: rgba(255, 255, 255,0);
    border: 1px solid rgba(255,255,255,0) ;
    background-color: rgba(255,255,255,1);
}


#save-button,#tab-save-button,#clear-button{
    color: rgb(255,255,255);
    font-weight: bold;
    border: 2px solid rgba(255,255,255,0.4) ;
    border-radius: 5px;
    background-color: rgba(0,255,255,0.1);
    height: 22px;
    margin-left: 10px;
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
}
#save-button,#clear-button{
    width:50px ;
}
#tab-save-button{
    width:90px ;
}
#clear-button{
    color:  rgb(255,0,0,1);
}

#save-button:hover,#clear-button:hover{
    width: 52px;
    height: 24px; 
    margin-left: 9px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#tab-save-button:hover{
    width:92px ;
    height: 24px; 
    margin-left: 9px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}



#output{
    overflow-y: auto; 
    height: 300px;
}

.site-ico{
    width: 20px ;
    height: 20px ;
    padding-right: 10px;
}

.site-names{
    font-weight: bold;
    color: rgb(0,255,0);
    font-size: 13px;
}

.site-url{
    color :rgb(255, 255, 255);
    font-size: 13px;
    font-weight: bold;
}


.delete-button{
    border: none;
    background:none ;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left:10px;
    
}

.delete-button-image{
    width: 20px;
    height: 20px;
    content:url('deleteBtn.png') ;
}

.delete-button-image:hover{
    width: 20px;
    height: 20px;
    content:url('deleteBtn1.png') ;
}

#site-list{
    margin: auto ;
}


/* get from site*/
#output::-webkit-scrollbar {
    width: 1em;
  }
   
#output::body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
#output::body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }